<div class="source_adding_container">
    <input type="text" class="add_source"/>
    <button class="add_source_button">Add New Site</button>
</div>
<div id="tabs">
    <ul class="menu_sources">
        <li class="source_item" value="all" data-id="all">
            <a href="#tabs-all">All sites</a>
            <button class="update_articles">Update</button>
        </li>
        <li class="source_item" value="favourite" data-id="favourite">
            <a href="#tabs-fav">Favorites</a>
            <button class="update_articles">Update</button>
        </li>
        <li class="source_item template" value="">
            <a></a>
            <button class="update_articles">Update</button>
            <button class="delete_source">Del</button>
        </li>
    </ul>
    <div class="articles_root">
        <div class="articles_item" id="tabs-all"></div>
        <div class="articles_item" id="tabs-fav"></div>
        <div class="articles_item template"></div>
    </div>
</div>

<div class="global_templates template">
    <div class="rendering_article template">
        <div class="title"><a></a></div>
        <div class="article_action">To Favorites</div>
        <div class="favourite_toggle article_action"></div>
        <div class="article_action">Mark As Read</div>
        <div class="read_toggle article_action"></div>
        <div class="description"></div>
    </div>
</div>