root {
    display: block;
}

.template {display:none;}

.ui-tabs-vertical { width: 70em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 50em;}

.menu_name {
    display: block;
    max-width: 20px;
    padding: 1px 5px;
    width: 20px;
}

.rendering_article {
    border-style: solid;
    margin: 15px;
    padding: 10px;
}

.rendering_article .title {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
}


.rendering_article .description img {
    float: left;
    max-height: 200px;
    margin-right: 10px;
    max-width: 200px;
}

.rendering_article .description {
    min-height: 220px;
}


.favourite_toggle {background-color: whitesmoke;;width:20px;height: 20px;border-color: orange;border-style: solid;cursor:pointer;}
.favourite_article .favourite_toggle {background-color: gold;;width:20px;height: 20px;border-color: orange;border-style: solid;cursor:pointer;}

.read_toggle {background-color: whitesmoke;;width:20px;height: 20px;border-color: orange;border-style: solid;cursor:pointer;}
.read_article .read_toggle {background-color: gold;;width:20px;height: 20px;border-color: orange;border-style: solid;cursor:pointer;}

.article_action {display: inline-block;}
.mark_read {}
