<?php
    $this->headMeta()->appendHttpEquiv( 'Content-Type', 'text/html;charset=utf-8' );
    echo $this->doctype( 'HTML5' );
?>
<html>
    <head>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headTitle(); ?>
        <base href="<?= $this->basehref ?>">

        <!-- ToDo Refactor Reduce count of files-->
        <?php $this->headLink()->setStylesheet( "css/style.css" ); ?>
        <?php $this->headLink()->appendStylesheet( "css/jquery-ui-1.10.3.custom.css" ); ?>

        <?php $this->headScript()->setFile( "js/jquery-1.7.1.min.js" ); ?>
        <?php $this->headScript()->appendFile( "js/jquery-ui-1.10.3.custom.min.js" ); ?>
        <?php $this->headScript()->appendFile( "js/encoder.js" ); ?>
        <?php $this->headScript()->appendFile( "js/main.js" ); ?>

        <?php echo $this->headLink() ?>
        <?php echo $this->headScript() ?>
        <?php echo $this->placeholder('head'); ?>
    </head>
    <body>
        <?php echo $this->layout()->content; ?>
    </body>
</html>
